body{
    background-color: blueviolet;
    text-align: center;
    font-family:'Arial';
    color:blue;

}

#post{

    background-color: aqua;
}

#cabecera{

    background: #33A;
    color: white;
    margin: 0;
    padding: 0.5em;
}